<div class="cartContainer " xmlns="http://www.w3.org/1999/html">
    {{#items}}
     <section class="citems clearfix">
            <div class="left">
                <h1 class="title">{{len}} Items in Your Cart</h1>
                <select id="sortList">
                    <option value="1">Sort</option>
                    <option value="2">Price highest</option>
                    <option value="3">Size</option>
                    <option value="4">Brand</option>
                </select>
            </div>
             <span class="close"></span>
     </section>
     <hr>
    <div class="cartItms">

    </div>
     <hr>
    <div class="saveItms">

    </div>
     <hr>

    <div class="subtotal">
        <span class="ttl">Subtotal</span>
        <span class="prc">${{subtotal}}</span>
        <span class="cobtn"><button class="btn co"><span>Checkout</span></button></span>
    </div>
    {{/items}}
</div>