<nav class="bc"></nav>
<div class="hero" ></div>
<div class="filters clearfix"><div class="pull-right"></div><div class="pull-left"></div></div>
<div class="summary"> </div>
<div class="items"> </div>