<h2>Get More, For Less</h2>
<p>Find the perfect Television with our new <span style="color:#0e79be;">TVFinder<sup>TM</sup></span></p>
<div> <div><img  class="first" alt="TV 18\"." src="./images/tv18withprice.jpg"> <img alt="TV 24\"."  class="second" src="./images/tv24withprice.jpg"">
    <img alt="TV 46\"."  class="third" src="./images/tv46withprice.jpg"> </div>
</div>