<div class="productContainer ">
     <section class="product">
         <div class="prodinfo"></div>
         <div class="pdcar" id="pdimages">
         </div>
     </section>
     <section class="pinfo clearfix">
         <div class="about">
         </div>
         <div class="cart">
         </div>
     </section>
     <section class="items" id="relevance">
     </section>
     <section class="pdetails">
     </section>

     <section class="pdreviews">

     </section>
</div>

