 {{#items}}

<h1 class="title">{{genericContent.itemName}}</h1>
<div class="info"><span class="rating"><i><i style="width: 80.36%; "></i></i></span><span class="reviews">109 Reviews</span><span class="write">Write a Review</span><span class="question">Ask a Question</span></div>
<div class="price">${{sellers.0.currentItemPrice}}</div>
 {{/items}}