
	<div id="carImgs" class="car">
		<div class="previous prevdisable"></div>
		<div class="vpt nav">
			<ul>
			 {{#items}}
				<li >
				    <div class="imgc">
						<a href="#" title="image 01"><img src="{{lgImageSrc}}" alt="image 01" border="0"></a>
					</div>
				</li>
			 {{/items}}

			</ul>
		</div>
		<div class="next" ></div>
		<div class="position">
        	    <i><i></i></i>
        </div>
	</div>

