           <div class="clearfix">
                <h3>Product Details</h3>
                <span class="rbtn"><button class="btn"><span>Have a Question?</span></button></span>
            </div>
            <div class="tabbable tabs-left">

          <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#lA" data-toggle="tab">Full Description</a></li>
                    <li><a href="#lB" data-toggle="tab">Specifications</a></li>
                    <li><a href="#lC" data-toggle="tab">Warranty</a></li>
                    <li><a href="#lD" data-toggle="tab">Financing</a></li>
                    <li><a href="#lE" data-toggle="tab">Gifting</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="lA">
                        <p>Full Description goes here...</p>
                    </div>
                    <div class="tab-pane" id="lB">
                        <p>Specifications goes here...</p>
                    </div>
                    <div class="tab-pane" id="lC">
                        <p>Warranty goes here</p>
                    </div>
                    <div class="tab-pane" id="lD">
                        <p>Financing goes here</p>
                    </div>
                    <div class="tab-pane" id="lE">
                        <p>Gifting ...</p>
                    </div>
                </div>
            </div>

            </div>
