<div class="cartContainer ">
     <section class="citems clearfix">
            <div class="left">
                <h1 class="title">2 Items in Your Cart</h1>
                <select id="sortList">
                    <option value="1">Sort</option>
                    <option value="2">Price highest</option>
                    <option value="3">Size</option>
                    <option value="4">Brand</option>
                </select>
            </div>
             <span class="close"></span>
     </section>
     <hr>
     <details open>
           <summary>1 item for Purchase</summary>
           <div class="clearfix">
               <div class="imgc"><img src="http://i.walmartimages.com/i/p/00/03/67/25/23/0003672523744_60X60.gif" alt=""></div>
               <div class="info">
                    <div class="title">
                        Samsung 46\" Class LED 1080p 60Hz HDTV, UN46EH5000
                    </div>
                     <button class="btn save"><span>Save for Later</span></button>
                     <button class="btn"><span>Remove</span></button>
               </div>
               <div class="qty">
                    <legend>Quantity</legend>
                    <input type="text" size="1" maxlength="4" value="1" name="qty"/>
               </div>
               <div class="prc">
                    <div class="list">List Price: $499.98</div>
                    <div class="orig">239.98</div>
               </div>
           </div>
     </details>
     <hr>
     <details>
           <summary>1 Saved Item</summary>
           <div class="clearfix">
               <div class="imgc"><img src="http://i.walmartimages.com/i/p/00/03/67/25/23/0003672523744_60X60.gif" alt=""></div>
               <div class="info">
                    <div class="title">
                        Samsung 46\" Class LED 1080p 60Hz HDTV, UN46EH5000
                    </div>
                     <button class="btn save"><span>Save for Later</span></button>
                     <button class="btn"><span>Remove</span></button>
               </div>
               <div class="qty">
                    <legend>Quantity</legend>
                    <input type="text" size="1" maxlength="4" value="1" name="qty"/>
               </div>
               <div class="prc">
                    <div class="list">List Price: $499.98</div>
                    <div class="orig">239.98</div>
               </div>
           </div>
     </details>
     <hr>

    <div class="subtotal">
        <span class="ttl">Subtotal</span>
        <span class="prc">$239.98</span>
        <span class="cobtn"><button class="btn"><span>Checkout</span></button></span>
    </div>

</div>