 <ul class="nav nav-pills " >
     <li ><label>Type</label>
         <select id = "typeList">
            <option value = "All">All</option>
            <option value = "LCD">LCD</option>
            <option value = "LED-LCD">LED-LCD</option>
            <option value = "Plasma">Plasma</option>
         </select></li>
     <li><label>Brand</label>
          <select id = "brandList">
             <option value = "All">All</option>
             <option value = "2">Samsung</option>
             <option value = "3">VIZIO </option>
             <option value = "4">RCA</option>
             <option value = "5">Sceptre</option>
             <option value = "6">Element</option>
             <option value = "7">HANNspree</option>
             <option value = "8">Proscan</option>
             <option value = "9">Sony </option>
             <option value = "10">Emerson</option>
          </select></li>
     <li ><label>Sort</label>
          <select id = "sortList">
             <option value = "1">Default</option>
             <option value = "2">Price highest</option>
             <option value = "3">Size</option>
             <option value = "4">Brand</option>
          </select> </li>
</ul>


