<!-- header starts -->
    <header class="tvfhead clearfix">
        <ul class="nav nav-pills pull-right">
            <li>
                <a>
                    <i class="sprite-create"></i>
                    <span >
                        Create</span>
               </a>
               <div>a new wishlist</div>

             </li>

            <li>
                <a>
                    <i class="sprite-person"></i>
                    <span>Sign In</span>
               </a>
               <div>to your account </div>
            </li>

            <li class="last">
                <a>
                    <i class="sprite-cart"></i>
                    <span>0 Items</span>
               </a>
               <div>in your cart  </div>
            </li>

        </ul>
        <ul class="nav nav-pills pull-left">
            <li>
                <canvas id="canvas" height="47" width="185"></canvas>
            </li>
            <li>
                <form name="search">
                    <input type="search" placeholder="Search" class="text" name="search" />
                </form>
            </li>
        </ul>
    </header>