<div class="productContainer ">
     <section class="product">
         <div class="prodinfo"></div>
         <div class="pdcar" id="pdimages">
         </div>
     </section>
     <section class="pinfo clearfix">
         <div class="about">
         </div>
         <div class="cart">
             <div class="selectstyle">
                 <select id ="qty">
                     <option value = "1">Qty</option>
                     <option value = "2">2</option>
                     <option value = "3">3</option>
                     <option value = "4">4</option>
                 </select>
             </div>
             <button class="btn" id="cart">Add to Cart</button>
             <a><i class="find"></i><span>Find This Product Locally</span></a>
             <a><i class="arrival"></i><span>Calculate Arrival Date</span></a>
             <a><i class="share"></i><span>Share With a Friend</span></a>
         </div>
     </section>
     <section class="items" id="relevance">
     </section>
     <section class="pdetails">
     </section>

     <section class="pdreviews">

     </section>
</div>

