<ul class="nav nav-pills ">
    <li ><i class="sprite-logoicon"></i><div class="logo">TVFinder<sup>TM</sup></div></li>
    <li style="margin-left:20px"><div class="slider"><span>Size</span><div id="size-slider"></div></div></li>
</ul>
