<div class="clearfix" >
            <span class="clear">
                  <input type="button" id="clear_filters" value="Clear Filters" style="border-radius:5px;background-color:white;" >
            </span>
            <span class="results">
               <span id="count"> 100 MATCHES </span>FOR TELEVISIONS FITTING THAT CRITERIA
            </span>
      </div>